body {margin: 0; padding: 0;}
h1 {font-size:1.5em; color: #603}
a {
  font-size: 1.2em;
  color:#666;
  text-decoration: none;
  line-height: 150%
}
a:focus {
  outline:2px solid #603
}
ul {margin: 0;padding: 0;}
li {list-style: none}

/*외부 링크 관련 */
.external-list,.fileformat-list,.sns-list {
  border-top:1px solid #603;
  border-bottom:1px solid #603;
  padding: 10px;
  margin-bottom:30px ;
  background:radial-gradient(ellipse farthest-corner at 45px 45px ,
   #ffcccc 0%, rgba(0, 0, 255, 0) 50%, #603 95%);
   /*linear-gradient(0deg, hsla(168, 100%, 58%, 0.1) 5%, transparent, hsla(168, 100%, 58%, 0.1) 95%)*/
}
.external-list a[href^="http://"][target="_blank"] {
  background: url('../images/icons/ExternalLink-50.png') no-repeat 100% 2px;
  background-size:18px;
  padding-right: 1.2em;
}
.external-list a:focus,
.external-list a[href^="http://"][target="_blank"]:focus,
.fileformat-list a:focus,
.fileformat-list a[href*=".psd"]:focus,
.fileformat-list a[href*=".pdf"]:focus
 {
  background-color: #f2d9e6; 
}
/*파일 포맷*/
.fileformat-list a[href$=".psd"] {
  background:url('../images/icons/photoshop.svg') no-repeat 0% 4px;
  background-size:18px;
  padding-left:1.2em
}
.fileformat-list a[href$=".pdf"] {
  background: url('../images/icons/pdf.svg') no-repeat 0% 4px;
  background-size:18px;
  padding-left:1.2em;
}

/*SNS 리스트*/
.sns-list:after, .sns-list::after {
  content: '';
  clear: both;
  display: block;
}
.sns-list li {
  float:left;
  margin-right:10px;

}
.sns-list a {
  width:36px;
  height: 36px;
  display: block;
  overflow:hidden;
  text-indent:-9999em;
}
.sns-list a[href*="facebook"] {
  background:url('../images/icons/sns/Facebook.png') no-repeat;

}
.sns-list a[href*="hatena"] {
  background:url('../images/icons/sns/Hatena.png') no-repeat;

}
.sns-list a[href*="linkedin"] {
  background:url('../images/icons/sns/LinkedIn.png') no-repeat;

}