
@import url(../fonts/hyundai-card-font.css);

body {
  margin: 4rem;
  font-size: 75%;
  line-height: 1.5;
}

a {
  color: #5588dd;

}
table {
  border-collapse: collapse; /*테두리 사이 공간 제거*/
}

tr > *:last-child {
  border-right: none
}

tr > th:nth-child(1),
tr > th:nth-child(2),
tr > th:nth-child(6),
tr > th:nth-child(7) {
  border-left:none
}



th, td {
  padding: 0.45em 1em;
  border: 1px solid #ddd;

}

th {
  text-align: left;
  font-family: 'YouandiModernTR';
}
td {
  font-family: 'YouandiModernTR';
  color: #aaa;
}

table {
  border-top: 2px solid #444;
}

caption.readable-hidden , .a11y, .i18n, .screen-off {
  width:1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;

}
