@charset "UTF-8";
html{
  font-size: 10px
}
body {
  margin: 0;
  padding: 0;
  color: #222;
  font-size: 1.2rem;
  font-family: 'Varela Round', sans-serif;

}
ul,li {
  margin: 0;
  padding: 0;
}
li {
  list-style: none
}

img {
  vertical-align: top
}

a {
  text-decoration: none;
  color: inherit;
}
h2 {
  margin: 0;
  color:#1f4ba5;
  font-family: 'Oswald', sans-serif;
  font-size: 1.8rem;
  line-height: 3rem;
  text-transform: uppercase;
}
h3 {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  color:#1f4ba5;
  text-transform: uppercase;
}

em {
  font-style: normal;
}
fieldset {
  border: none;
  padding: none;
  margin: none;
}
button{
  cursor: pointer;
}
/*=========common  ==============*/
.grid {
  background: url('../images/grid.png');
}
.grid-bycss {
  background-image: linear-gradient(180deg, transparent 9px, #7400ff 9px),
  linear-gradient(90deg, hsla(237,100%,66%, 0.1), hsla(305, 47%,70%,0.1));
  background-size:1px 10px, 120px 1px;
  z-index: 100;
}

.a11y {
  position: absolute;
  text-indent: -9999em;
}

.font-14 {
  font-size:1.4rem;
}
.font-16 {
  font-size:1.6rem;
  line-height: 2.4rem;
}
.font-18 {
  font-size:1.8rem;
  line-height: 2.4rem;
}
.font-24 {
  font-size:2.4rem;
  line-height: 2.8rem;
}
.font-lightgrey {
  color: #868686;
}
.lineheight-18 {
  line-height: 1.8rem
}
.mg-btm-10 {
  margin-bottom: 10px
}
.mg-btm-15 {
  margin-bottom: 15px
}
.mg-btm-20 {
  margin-bottom: 20px
}
.mg-btm-25 {
  margin-bottom: 25px
}
.mg-btm-35 {
  margin-bottom: 35px
}
.mg-btm-120 {
  margin-bottom: 120px
}


/*========= Layout  ==============*/

.wrap {
  width: 960px;
  margin: 0 auto;
}
/*=========header  ==============*/

header {
  box-sizing: border-box;
  height: 80px;
  padding: 30px;
  font-size: 1.4rem;
}

header:after, header::after {
  content: '';
  clear: left;
}

.icon-quick {
  display: block;
  float: left;
  padding-top: 4px;

}
h1 {
  float: left;
  margin:0 35px 0 37px;
}

nav,nav li {
  float: left;
  font-size: 1.4rem;
}

nav li {
  margin-left: 28px;
}

nav li:after, nav li::after {
  font-family: FontAwesome;
  content : "\f107";
  color:#2c56aa;
  padding-left: 10px;
  vertical-align: middle
}

.personal-shopping-info {
  float: right
}

.personal-shopping-info li {
  float: left;
  width: 16px;
  height: 16px;

}
.personal-shopping-info li span {
  display: block;
  text-indent: -999em;
}
.cart {
  background: url('../images/ico-cart.png') no-repeat;
  position: relative;
  margin-right: 40px;
}
.cart .item {
  position: absolute;
  top:-10px;
  right:-11px;
  background: #1f4ba5;
  border-radius: 15px;
  width: 16px;
  height: 16px;
  color: #fff;
  text-indent: 0;
  box-sizing: border-box;
  padding: 0 0 0 4px;
  line-height: 1em;
  z-index: 2;
}
.personal-shop-info {
  background: url('../images/ico-profile.png') no-repeat;
  margin-right: 40px;
}
.product-search {
  background: url('../images/ico-search.png') no-repeat;
}


/*=========Slider Area  ==============*/
.product-visual,.more-product {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.slider-text-group {
  position: absolute;
  top:120px;
  left:120px;
  z-index: 2;

}
.main-slider {
  width: 720px;
  position: relative;
}

.slider-title {
  font-size:3.6rem;
  margin: 28px 0 20px;
}

.main-prod-list {
  width: 240px;
}

.blue-button-area span{
  display: inline-block;
  color:#fff;
  font-weight: bold;
  background: #1f4ba5;
  border-radius: 15px 0 0 15px;
  border-right:1px solid #365dae;
  font-size: 1.2rem;
  padding: 10px 20px 0;
  height: 30px;
  box-sizing: border-box;
  cursor: pointer;
}
.blue-button-area button {
  display: inline-block;
  color:#fff;
  background: #1f4ba5;
  border-radius: 0 15px 15px 0;
  border:none;
  margin-left: -4px;
  font-size: 1.2rem;
  padding: 0 20px;
  height: 30px;
  vertical-align: 2px;
  cursor: pointer;

}

.product-slider-before {
  display: block;
  position: absolute;
  top:115px;
  left: -90px;
  z-index: 3;
  width: 32px;
  height: 32px;
  text-indent: -999em;
  background: url(../images/btn-left.png) no-repeat;
  border: none;
  cursor: pointer;
}

.product-slider-next {
  display: block;
  position: absolute;
  top:115px;
  right: -350px;
  z-index: 3;
  width: 32px;
  height: 32px;
  text-indent: -999em;
  background: url(../images/btn-right.png) no-repeat;
  border: none;
  cursor: pointer;
}

.main-prod-list div {
  position: relative;
  width: 240px;
  height: 120px;
}
.main-prod-list div::after {
  content: '';
  position: absolute;
  top:0;
  right:100%;
  bottom:0;
  left:0;
  background:hsla(0, 0%, 100%, 0.7);
  transition: all 0.4s;
  box-sizing: border-box;
}
.main-prod-list div:hover,.main-prod-list div:focus {
  cursor: pointer;
}

.main-prod-list div:hover::after {
  right:0;
  border-left:10px solid #1f4ba5;
}


/*===== product second line =====*/
.more-product > .first-prod,.more-product > .second-prod,.more-product > .third-prod,
.featured-contents
 {
  position: relative;
}
.more-pro-first-textwrap {
  position: absolute;
  top:115px;
  left:125px;
  text-align: center;
}

.big-title {
  font-size: 2.4rem;

}

.more-pro-second-textwrap {
  position: absolute;
  top:40px;
  left:40px;
  text-align: center;
}

.more-pro-third-textwrap {
  position: absolute;
  top:140px;
  left:53px;
  text-align: center;
}
/*========= FEATURED PRODUCTS  ==============*/
.featured-prods::after {
  content: '';
  clear: both;
  display: block;
}
.featured-prods div:nth-of-type(5) {
border-left: 1px solid #ececec;

}
.featured-title,.featured-contents {
  float:left;
  width:240px;
  height:240px;
  padding: 30px;
  text-align: center;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  box-sizing: border-box;
}

.featured-title {
  background: url(../images/ico-diamond.png) no-repeat;
  background-position: 50% 45px;
  padding-top: 85px;
  border-left: 1px solid #ececec;

}
.featured-contents .title {
  height: 30px;
  line-height: 1.5rem;
}
.featured-contents .label {
  position: absolute;
  width:34px;
  height:15px;
  bottom: 22px;
  padding: 1px 8px 0 0;
  left:30px;
  z-index: 2;
  color:#fff;
  font-size: 1rem;
  letter-spacing: -1px;
  text-transform: uppercase;
  box-sizing: border-box;

}
.featured-contents.hit .label {
  background: url(../images/label-yellow.png) no-repeat;
}
.featured-contents.sale .label {
  background: url(../images/label-red.png) no-repeat;
}
.featured-contents.new .label {
  background: url(../images/label-green.png) no-repeat;
}
.featured-contents .label,.featured-contents .price {
  font-weight: bold
}

.featured-contents.sale .price {
  color:#ff3f2b
}

.price-before {
  position: absolute;
  bottom:26px;
  right: 30px;
  font-size:0.8rem;
  text-decoration: line-through;
  color:#a1a1a1;

}

/*========= SNS ==============*/
.sns-section::after {
  content: '';
  display: block;
  clear: both;
}
.our-blog,.news {
  float:left;
  width:240px;
  height:240px;
  padding: 30px;
  text-align: center;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  box-sizing: border-box;
}

.our-blog {
  background: url(../images/ico-blog.png) no-repeat;
  background-position: 50% 45px;
  padding-top: 85px;
  border-left: 1px solid #ececec;

}

.news {
  display: table;
}

.news.half {
  height: 120px;
  box-sizing: border-box;
  padding: 20px 30px;
  text-align: left;
}
.news-content {
  width:240px;
  display: table-cell;
  vertical-align: middle;
}


time {
  display: block;
  color:#868686;
  font-style: italic;
  font-family: 'PT Serif', serif;
}

.news-from {
  font-size: 0.8em;
  color:#868686;
  font-style: italic;
}
.news-from em {
  font-style: normal;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;

}

.news.hover {
  position: relative;
  z-index: 0;
}

.news.hover:hover,
.news.hover:hover time,
.news.hover:hover .news-from
 {
  cursor: pointer;
  color: #fff;
}

.news.hover::after {
  content: '';
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:100%;
  transition: all 0.4s;
  background: url('../images/sns/hover-blog.png') no-repeat;
  background-clip: border-box;
  z-index: -1;
}

.news.hover:hover::after {
  cursor:pointer;
  bottom: 0;
}

/*WHAT PEOPLE SAY*/
.what-people-say {
  background: url('../images/ico-says.png') no-repeat 30px 50px;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  width: 478px;
  height: 480px;
  box-sizing: border-box;
  padding: 40px 0 0;
  text-align: center;
  float: left;
  position: relative;
}
q {
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 0 20px;
  font-family: 'PT Serif', serif;
  font-style: italic;
}

q em {
font-family: 'PT Serif', serif;
font-style: italic;

}

q:before {
  font-family:FontAwesome;
  content:'\f10d';
   color: #1f4ba5;
   display: block;
   height: 20px;
   font-size: 1.6rem;
   font-weight: bold;
   margin:30px 0 20px 0;

}

.article-writer-image,.article-writer{
  display: inline-block;
  font-family: 'PT Serif', serif;
}

.article-writer-image {
  width:60px;
  padding: 30px 0 0 0;
  vertical-align: top
}
.article-writer {
 color:#b8b8b8;
 font-size: 1.2rem;
 width: 150px;
 padding-top: 40px;
 margin-left: -5px;
}

.article-writer em {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: bold;
  color:#222;
  font-style: normal;
}
/*.image-mask {
  -webkit-clip-path: circle(100px at center);
}*/
.other-article{
  padding:30px 15px 0 0
}
.other-article button {
  color:transparent;
  border: none;
  background: none;
  cursor: pointer;
  width: 10px;
  height: 15px;
  text-align: center;
  position:relative;
  overflow: hidden;
}

.other-article button::after {
  font-family: FontAwesome;
  content : "\f111";
  color:#c9c9c9;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left:0;
  width: 10px;
  height: 10px;
}

.other-article button.on::after{
content : "\f10c";

}
.refresh-what-people-say {
  position: absolute;
  top:45px;
  right: 30px
}
.refresh-what-people-say button {
    border:1px solid #ececec;
    background: none;
    display: block;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    position:relative;
    overflow: hidden;
    color:transparent;
    cursor: pointer;
}
.refresh-what-people-say button::after {
  font-family: FontAwesome;
  content : "\f01e";
  color:#cfcfcf;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left:0;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  padding-top: 5px;
  font-size: 1.2em;
}

/*==== WHO WE ARE=====*/
.who-we-are {
  background: url('../images/ico-whoweare.png') no-repeat 30px 50px;
  border-bottom: 1px solid #ececec;
  border-right: 1px solid #ececec;
  width: 481px;
  height: 480px;
  box-sizing: border-box;
  padding: 40px 0 0;
  text-align: center;
  float: left;
  position: relative;

}
.shop-info {
  margin-top: 40px;
}
.shop-info::after {
  content: '';
  clear: both;
  display: block;
}
.shop-info div,.shop-info img {
  float: left;
  display: block;
}
.shop-info div {
  background: #1f4ba5;
  width: 120px;
  height: 60px;
  color: #fff;
  box-sizing: border-box;
  text-align: left;
  font-style: italic;
}

.shop-info div em {
  font-size: 2rem;
  font-weight: bold;
  font-style: normal;
}
.shop-info div.countries::before {
  font-family: fontAwesome;
  content:'\f041';
  display:inline-block;;
  box-sizing: border-box;
  text-align: center;
  padding-top: 18px;
  height: 60px;
  font-size:2.2rem;
  font-style: normal;
  width: 45px;
}
.shop-info div.countries em,
.shop-info div.countries span {
  display: inline-block;
}
.shop-info div.countries em {
  position: relative;
  top: -7px;
}
.shop-info div.countries span {
  position: relative;
  top: -25px;
  left:45px;

}
.shop-info div.brands {
  background-image:url(../images/ico-brands.png);
  background-repeat: no-repeat;
  background-position: 15px 50%;
  box-sizing: border-box;
  padding: 10px 0 0 45px;
}
.mg-left-60 {
  margin-left: 60px;
}
.mg-left-120 {
  margin-left: 120px;
}

.who-we-are q em {
  display: inline-block;
  padding-bottom: 20px;
}
.establish {
  position: absolute;
  top:50px;
  right: 20px;
  color: #868686
}

.rel-brands li {
  float:left;
  border-right:1px solid #ececec;
  width: 120px;
  height: 120px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 50% 50%;
   color: transparent;
   text-align: center;
  padding-top: 35px;
  /*text-indent: -999em;*/
}
.rel-brands li:nth-child(1) {
  border-left:1px solid #ececec
}
.H-M {
  background-image: url(../images/brands/handm.png);
}
.puma {
  background-image: url(../images/brands/puma.png);
}
.adidas {
  background-image: url(../images/brands/adidas.png);
}
.converse {
  background-image: url(../images/brands/converse.png);
}
.boss {
  background-image: url(../images/brands/boss.png);
}
.nike {
  background-image: url(../images/brands/nike.png);
}
.crown {
  background-image: url(../images/brands/crown.png);
}
.allbrands {
  text-indent: 0;
  background-image: url(../images/brands/b274.png);
}
/*=========footer  ==============*/
.btm-category {
  background: #222;
  color: #fff;
  text-transform: capitalize;
  border-bottom: 1px solid #353535;
  width: 960px;
  box-sizing: border-box;
  padding-left: 70px;
}

.btm-category::after {
  content: '';
  clear: both;
  display: block;
}
.btm-category li {
  height: 60px;
  vertical-align: middle;
  line-height: 60px;
  cursor: pointer
}
.btm-category li::after {
  content: '„Üç';
  font-size: 2rem;
  color:#636363;
  padding-left: 30px;
}
.btm-category li.blog::after{
  content: '';
}
footer{
  background: #222;
}
footer::after {
  content: '';
  display: block;
  clear: both;
}
.copyright {
  background: url(../images/footer-logo.png) no-repeat 50% 35%;
  color: #7a7a7a;
  float: left;
  width: 240px;
  height: 120px;
  box-sizing: border-box;
  padding: 70px 50px 0;
  text-align: center;
  font-style: italic;
  border-right:1px solid #353535;
}
.footer-center {
  width: 480px;
  float: left;
  padding: 30px 50px 0;
  box-sizing: border-box;
  border-right:1px solid #353535;
  height: 120px;
}
.footer-center input {
  display: inline-block;
  background: #353535 url(../images/ico-letter.png) no-repeat 10% 48%;
  border: 1px solid #353535;
  border-radius: 20px 0 0 20px;
  height: 30px;
  line-height: 30px;
  width:275px;
  color: #888;
  padding: 0 0 0 55px;
  font-style: italic;
}
.footer-center button {
    background: #353535;
    border: 1px solid #353535;
    border-radius: 0 20px 20px 0;
    margin-left: -6px;
    color: #fff;
    height: 32px;
    vertical-align: top;
    padding-right: 10px;

}
.footer-center ul {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.footer-center li {
  color:#b5b5b5
}
.footer-right {
  width: 240px;
  box-sizing: border-box;
  float: left
}
.footer-sns {
  padding: 20px 30px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #353535
}
.footer-sns span, .footer-pay span {
  color: transparent;
  display: inline-block;
}
.footer-sns span {
  width: 28px;
  overflow: hidden;
}
.footer-sns span:nth-of-type(2),
.footer-sns span:nth-of-type(3),
.footer-sns span:nth-of-type(4)
{ margin-left: 18px}

.footer-sns span:nth-child(1):before {
  font-family: fontAwesome;
  display: inline-block;
  content: "\f081";
  color: #656565;
  font-size: 22px
}

.footer-sns span:nth-child(2)::before {
  font-family: fontAwesome;
  display: inline-block;
  content: "\f16d";
  color: #656565;
  font-size: 22px;
}
.footer-sns span:nth-child(3)::before {
  font-family: fontAwesome;
  display: inline-block;
  content: "\f0d2";
  color: #656565;
  font-size: 22px
}
.footer-sns span:nth-child(4)::before {
  font-family: fontAwesome;
  display: inline-block;
  content: "\f082";
  color: #656565;
  font-size: 22px
}

.footer-pay {
  padding: 15px 30px 0;
  box-sizing: border-box;

}
.footer-pay span {
  width: 40px;
  height: 30px;
  overflow: hidden;
}

.footer-pay span:nth-of-type(2),
.footer-pay span:nth-of-type(3)
{ margin-left: 23px;}


.footer-pay span:nth-child(1)::before {
  font-family: fontAwesome;
  display: inline-block;
  content: "\f1f0";
  color: #656565;
  font-size: 30px
}
.footer-pay span:nth-child(2)::before {
  font-family: fontAwesome;
  display: inline-block;
  content: "\f1f1";
  color: #656565;
  font-size: 30px
}
.footer-pay span:nth-child(3)::before {
  font-family: fontAwesome;
  display: inline-block;
  content: "\f1f4";
  color: #656565;
  font-size: 30px
}
